*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    background: linear-gradient(to bottom rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./bgimage-removebg-preview.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

header{
    background-color: #000;
    padding: 10px 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

nav ul li a:hover{
    color: orange;
}

.container{
    padding: 50px 20px;
    text-align: center;
}

.container h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.highlight{
    color: red;
}

.container p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.image img{
    width: 200px;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    animation: zoom-in 1.5s ease-in-out;
}

.description{
    margin-left: 20px;
    text-align: left;
}

.description p{
    font-size: 1rem;
    margin-bottom: 10px;
    opacity: 0;
    animation: slide-up 1s ease forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes zoom-in{
    0%{
        transform: scale(0.8);
        opacity:0;
    }

    100%{
        transform:scale(1);
        opacity: 1;
    }
}

@keyframes slide-up{
    0%{
        transform: translateY(20px);
        opacity:0;
    }

    100%{
        transform:translateY(0);
        opacity: 1;
    }
}

.skills-section{
    text-align: center;
    padding: 20px;
}

.skills-section h1,h2{
    font-size: 30px;
    margin-bottom: 20px;
    color:orangered;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card img{
    width: 100%;
    height: auto;
    border-bottom: 3px solid white;
}

.card h3{
    font-size: 20px;
    margin: 10px 0;
    color: grey;
}

.card p{
    font-size: 15px;
    color: grey;
    padding: 0 15px 15px 15px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.projects{
    text-align: center;
    padding: 20px;
}

.projects h1{
    font-size: 30px;
    margin-bottom: 20px;
    color:orangered;
}


.cards-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.cards{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards img{
    width: 100%;
    height: auto;
    border-bottom: 3px solid white;
}

.cards h3{
    font-size: 20px;
    margin: 10px 0;
    color: grey;
}

.cards p{
    font-size: 15px;
    color: grey;
    padding: 0 15px 15px 15px;
}

.cards:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-link a{
    margin-bottom: 10px;
    padding: 10px;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 50%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 30px;
    color: #f44336;
    margin: 10px;
    margin-right: 35px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h4{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.registration-form{
    text-align: center;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

button{
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover{
    background-color: #f44336;
    color: white;
}
.contact-us h1{
    text-align: center;
    color: red;
}

.skills-section h2{
    color: #f44336;
}